.accueil {
  margin-top: 50px;

  .temperatures {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .accueil {
    .temperatures {
      flex-direction: row;
    }
  }
}
